/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, serif;
}

/* Body */
body {
    background: #fff;
}

/* HEADER */
.top-header {
    background: #32a9b6;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
}

.logo-text h2 {
    line-height: 1.1;
    font-weight: bold;
}

/* Search */
.search-box {
    display: flex;
}

.search-box input {
    width: 350px;
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
}

.search-box button {
    padding: 10px 15px;
    border: none;
    background: #fff;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}

/* Icons */
.icons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.login-box {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* NAVBAR */
.navbar {
    background: #000;
    text-align: center;
    padding: 15px;
}

.navbar a {
    color: #fff;
    margin: 0 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

/* HERO */
.hero img {
    width: 100%;
    display: block;
}

/* ABOUT */
.about {
    width: 70%;
    margin: auto;
    padding: 40px 0;
    font-size: 20px;
    line-height: 1.6;
}

.cosmo-section {
    display: flex;
    padding: 40px;
    gap: 25px;
}

.cosmo-img img {
    width: 350px;
}

.cosmo-text {
    max-width: 500px;
}

.menu-buttons {
    text-align: center;
    padding: 40px 0;
}

.btn {
    display: inline-block;
    padding: 15px 40px;
    margin: 15px 25px;
    border-radius: 40px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.green { background: #28a745; }
.blue { background: #31a8c4; }
.purple { background: #b347e3; }
.darkblue { background: #3d3ac9; }

.footer {
    background: #32a9b6;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    color: black;
}

.social i {
    font-size: 30px;
    margin-right: 15px;
}

.cards {
    width: 120px;
}

.bottom-bar {
    background: #32a9b6;
    display: flex;
    justify-content: space-between;
    border-top: 3px solid #000;
    padding: 20px;
}
